@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
}

.center {
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 40px;
    margin: 7px;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(214 177 177);
}

.openMenu,
.closeMenu {
    display: none;
}

.mainMenu {
    list-style: none;
}

.menu {
    display: flex;
}

.item a {
    margin: 0 10px;
    padding: 5px;
    font-size: 1.4rem;
    font-family: 'Signika Negative';
    color: white;
    text-decoration: none;
    cursor: pointer !important;
}

.item a:hover {
    border-radius: 7px;
    font-weight: bold;
    color: black;
    background-color: #fddcba;
}

.userbtn {
    position: relative;
    left: -10px;
}

.userbtn button {
    cursor: pointer;
    padding: 5px;
    font-size: 1.4rem;
    border: 0px;
    color: white;
    font-family: 'Signika Negative';
    background-color: transparent;
}

.userbtn button:hover {
    border-radius: 7px;
    font-weight: bold;
    color: black;
    background-color: #fddcba;
}

#userIcon {
    display: none;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 547px;
    padding: 0px 200px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/bg1.webp') no-repeat center center/cover;
    height: 642px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    text-align: center;
    color: rgb(239, 239, 239);
    font-family: 'Signika Negative';
}

#home p {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(239, 239, 239);
    font-family: 'Signika Negative';
}

.btn {
    position: relative;
    top: 15px;
    padding: 6px 20px;
    margin: 17px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    font-size: 1.5rem;
    font-family: 'Skranji';
    color: white;
    background-color: #f3410f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#services-container {
    height: 570px;
    font-family: 'Signika Negative';
    background-color: #FFE5DC;
}

#services {
    display: flex;
    margin: 20px;
}

#services .box {
    width: 330px;
    height: 365px;
    padding: 25px;
    margin: 2px 55px;
    margin-bottom: 20px;
    border-radius: 28px;
    border: 2px solid brown;
    background-color: #E8C4C5;
}

#services .box img {
    display: block;
    height: 160px;
    margin: auto;
}

#services .box p {
    text-align: center;
}

#client-section {
    position: relative;
    font-family: 'Signika Negative';
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../img/clients.webp') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 130px;
    padding: 10px;
    border-radius: 7px;
    background-color: #e6e6e6d0;
}

.submit {
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 1.5rem;
    font-family: 'Signika Negative';
    color: white;
    background-color: brown;
}

.submit:hover {
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    background-color: rgb(181, 66, 66);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
    font-family: 'Signika Negative';
    background-color: black;
    color: white;
    font-size: 19px;
}